/* DAY 1 */

.day-1 header{
	background: url('../images/headerback-day-1.jpg') repeat-y center center;
	background-size: cover;
}

	.day-1 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}

.day-1 nav{
	background: rgb(0, 0, 0);
}

	.day-1 nav a:hover{
		color: #84c4d2;
	}

.day-1 .app-banner{
	background-color: #84c4d2;
	color: white;
}

.day-1 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-1-logo.png') no-repeat center center;
	background-size: cover;
}

.day-1 .app-banner .grid-60{
	background: #84c4d2;
}

.day-1 .app-screenshots img{
	border: 1px solid #84c4d2;
}

.day-1 #app-sharer{
	background: url('../images/headerback-day-1.jpg') repeat-y center center;
}

.day-1 .quote-box{
	border: 1px solid #84c4d2;
}

.day-1 blockquote .circle{
	border: 1px solid #84c4d2;
}

.day-1 blockquote a{
	color: #84c4d2;
}


.app-block.day-1 a{
	background-color: #84c4d2;
}

	.app-block.day-1 a:hover{
		background-color: #305f6b;
	}





/* DAY 2 
-------------------------------*/
.day-2 header{
	background: url('../images/headerback-day-2.jpg') repeat-y center center;
	background-size: cover;
}

	.day-2 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-2 nav{
	background: rgb(0, 0, 0);
}

	.day-2 nav a:hover{
		color: #072f4d;
	}

.day-2 .app-banner{
	background-color: #072f4d;
	color: white;
}

.day-2 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-2-logo.png') no-repeat center center;
	background-size: cover;
}

.day-2 .app-banner .grid-60{
	background: #072f4d;
}

.day-2 .app-screenshots img{
	border: 1px solid #072f4d;
}

.day-2 #app-sharer{
	background: url('../images/headerback-day-2.jpg') repeat-y center center;
}

.day-2 .quote-box{
	border: 1px solid #072f4d;
}

.day-2 blockquote .circle{
	border: 1px solid #072f4d;
}

.day-2 blockquote a{
	color: #072f4d;
}


.app-block.day-2 a{
	background-color: #072f4d;
}

	.app-block.day-2 a:hover{
		background-color: #1e4868;
	}


/* DAY 3 
-------------------------------*/
.day-3 header{
	background: url('../images/headerback-day-3.jpg') repeat-y center center;
	background-size: cover;
}

	.day-3 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-3 nav{
	background: rgb(0, 0, 0);
}

	.day-3 nav a:hover{
		color: #2883B7;
	}

.day-3 .app-banner{
	background-color: #2883B7;
	color: white;
}

.day-3 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-3-logo.png') no-repeat center center;
	background-size: cover;
}

.day-3 .app-banner .grid-60{
	background: #2883B7;
}

.day-3 .app-screenshots img{
	border: 1px solid #2883B7;
}

.day-3 #app-sharer{
	background: url('../images/headerback-day-3.jpg') repeat-y center center;
}

.day-3 .quote-box{
	border: 1px solid #2883B7;
}

.day-3 blockquote .circle{
	border: 1px solid #2883B7;
}

.day-3 blockquote a{
	color: #2883B7;
}


.app-block.day-3 a{
	background-color: #2883B7;
}

	.app-block.day-3 a:hover{
		background-color: #165980;
	}




/* DAY 4 
-------------------------------*/
.day-4 header{
	background: url('../images/headerback-day-4.jpg') repeat-y center center;
	background-size: cover;
}

	.day-4 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-4 nav{
	background: rgb(0, 0, 0);
}

	.day-4 nav a:hover{
		color: #8e0906;
	}

.day-4 .app-banner{
	background-color: #8e0906;
	color: white;
}

.day-4 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-4-logo.png') no-repeat center center;
	background-size: cover;
}

.day-4 .app-banner .grid-60{
	background: #8e0906;
}

.day-4 .app-screenshots img{
	border: 1px solid #8e0906;
}

.day-4 #app-sharer{
	background: url('../images/headerback-day-4.jpg') repeat-y center center;
}

.day-4 .quote-box{
	border: 1px solid #8e0906;
}

.day-4 blockquote .circle{
	border: 1px solid #8e0906;
}

.day-4 blockquote a{
	color: #8e0906;
}


.app-block.day-4 a{
	background-color: #8e0906;
}

	.app-block.day-4 a:hover{
		background-color: #650806;
	}




/* DAY 5
-------------------------------*/
.day-5 header{
	background: url('../images/headerback-day-5.jpg') repeat-y center center;
	background-size: cover;
}

	.day-5 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-5 nav{
	background: rgb(0, 0, 0);
}

	.day-5 nav a:hover{
		color: #fd6035;
	}

.day-5 .app-banner{
	background-color: #fd6035;
	color: white;
}

.day-5 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-5-logo.png') no-repeat center center;
	background-size: cover;
}

.day-5 .app-banner .grid-60{
	background: #fd6035;
}

.day-5 .app-screenshots img{
	border: 1px solid #fd6035;
}

.day-5 #app-sharer{
	background: url('../images/headerback-day-5.jpg') repeat-y center center;
}

.day-5 .quote-box{
	border: 1px solid #fd6035;
}

.day-5 blockquote .circle{
	border: 1px solid #fd6035;
}

.day-5 blockquote a{
	color: #fd6035;
}


.app-block.day-5 a{
	background-color: #fd6035;
}

	.app-block.day-5 a:hover{
		background-color: #a43516;
	}



/* DAY 6
-------------------------------*/
.day-6 header{
	background: url('../images/headerback-day-6.jpg') repeat-y center center;
	background-size: cover;
}

	.day-6 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-6 nav{
	background: rgb(0, 0, 0);
}

	.day-6 nav a:hover{
		color: #500600;
	}

.day-6 .app-banner{
	background-color: #500600;
	color: white;
}

.day-6 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-6-logo.png') no-repeat center center;
	background-size: cover;
}

.day-6 .app-banner .grid-60{
	background: #500600;
}

.day-6 .app-screenshots img{
	border: 1px solid #500600;
}

.day-6 #app-sharer{
	background: url('../images/headerback-day-6.jpg') repeat-y center center;
}

.day-6 .quote-box{
	border: 1px solid #500600;
}

.day-6 blockquote .circle{
	border: 1px solid #500600;
}

.day-6 blockquote a{
	color: #500600;
}


.app-block.day-6 a{
	background-color: #500600;
}

	.app-block.day-6 a:hover{
		background-color: #330300;
	}



/* DAY 7
-------------------------------*/
.day-7 header{
	background: url('../images/headerback-day-7.jpg') repeat-y center center;
	background-size: cover;
}

	.day-7 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-7 nav{
	background: rgb(0, 0, 0);
}

	.day-7 nav a:hover{
		color: #024371;
	}

.day-7 .app-banner{
	background-color: #024371;
	color: white;
}

.day-7 .app-banner .grid-70 h2{
	text-indent: -99999px;
	background: url('../images/day-7-logo.png') no-repeat center center;
	background-size: cover;
}

.day-7 .app-banner .grid-70{
	background: #024371;
}

.day-7 .app-screenshots img{
	border: 1px solid #024371;
}

.day-7 #app-sharer{
	background: url('../images/headerback-day-7.jpg') repeat-y center center;
}

.day-7 .quote-box{
	border: 1px solid #024371;
}

.day-7 blockquote .circle{
	border: 1px solid #024371;
}

.day-7 blockquote a{
	color: #024371;
}


.app-block.day-7 a{
	background-color: #024371;
}

	.app-block.day-7 a:hover{
		background-color: #00233c;
	}




/* DAY 8
-------------------------------*/
.day-8 header{
	background: url('../images/headerback-day-8.jpg') repeat-y center center;
	background-size: cover;
}

	.day-8 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-8 nav{
	background: rgb(0, 0, 0);
}

	.day-8 nav a:hover{
		color: #3c1585;
	}

.day-8 .app-banner{
	background-color: #3c1585;
	color: white;
}

.day-8 .app-banner .grid-80 h2{
	text-indent: -99999px;
	background: url('../images/day-8-logo.png') no-repeat center center;
	background-size: cover;
}

.day-8 .app-banner .grid-80{
	background: #3c1585;
}

.day-8 .app-screenshots img{
	border: 1px solid #3c1585;
}

.day-8 #app-sharer{
	background: url('../images/headerback-day-8.jpg') repeat-y center center;
}

.day-8 .quote-box{
	border: 1px solid #3c1585;
}

.day-8 blockquote .circle{
	border: 1px solid #3c1585;
}

.day-8 blockquote a{
	color: #3c1585;
}


.app-block.day-8 a{
	background-color: #3c1585;
}

	.app-block.day-8 a:hover{
		background-color: #250c54;
	}
	
	
	
/* DAY 9
-------------------------------*/
.day-9 header{
	background: url('../images/headerback-day-9.jpg') repeat-y center center;
	background-size: cover;
}

	.day-9 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}


.day-9 nav{
	background: rgb(0, 0, 0);
}

	.day-9 nav a:hover{
		color: #c70600;
	}

.day-9 .app-banner{
	background-color: #c70600;
	color: white;
}

.day-9 .app-banner .grid-90 h2{
	text-indent: -99999px;
	background: url('../images/day-9-logo.png') no-repeat center center;
	background-size: cover;
}

.day-9 .app-banner .grid-90{
	background: #c70600;
}

.day-9 .app-screenshots img{
	border: 1px solid #c70600;
}

.day-9 #app-sharer{
	background: url('../images/headerback-day-9.jpg') repeat-y center center;
}

.day-9 .quote-box{
	border: 1px solid #c70600;
}

.day-9 blockquote .circle{
	border: 1px solid #c70600;
}

.day-9 blockquote a{
	color: #c70600;
}


.app-block.day-9 a{
	background-color: #c70600;
}

	.app-block.day-9 a:hover{
		background-color: #7b0500;
	}



/* DAY 10 
-------------------------------*/

.day-10 header{
	background: url('../images/headerback-day-10.jpg') repeat-y center center;
	background-size: cover;
}

	.day-10 header h1{
		background: url('../images/reformapp-text-black.png') no-repeat center center;
		background-size: contain;
	}

.day-10 nav{
	background: rgb(0, 0, 0);
}

	.day-10 nav a:hover{
		color: #ffa400;
	}

.day-10 .app-banner{
	background-color: #ffa400;
}

.day-10 .app-banner .grid-60 h2{
	text-indent: -99999px;
	background: url('../images/day-10-logo.png') no-repeat center center;
	background-size: cover;
}

.day-10 .app-banner .grid-60{
	background: #ffa400;
}

.day-10 .app-screenshots img{
	border: 1px solid #ffa400;
}

.day-10 .app-screenshots img:hover{
	border: 1px solid #d68b00;
	box-shadow: 0px 0px 5px #ffa400;
}

.day-10 #app-sharer{
	background: url('../images/headerback-day-10.jpg') repeat-y center center;
}

.day-10 .quote-box{
	border: 1px solid #ffa400;
}

.day-10 blockquote .circle{
	border: 1px solid #ffa400;
}

.day-10 blockquote a{
	color: #ffa400;
}

.app-block.day-10 a{
	background-color: #ffa400;
	color: white;
}

	.app-block.day-10 a:hover{
		background-color: #d68b00;
	}